.chart {
    display: flex;
    flex-direction: column;
  }
  
  svg {
    background-color: #46464b;
    border-radius: 12px;
  }
  
  .labelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 50px;
  }
  
  .scrollButton {
    width: 40px;
    height: 40px;
    background-color: #46464b;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
  }
  
  .scrollButton:hover {
    background-color: darkgray;
  }
  
  .labels {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

  }
  
  .label {
    width: calc(100% / 10);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    border-right: 1px solid white;
    padding: 0 5px;
    
  }
  
  .label:last-child {
    border-right: none;
  }
