.Articles {
  height: 80%;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width:900px) {
    height:fit-content;
  }
  &__container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__articles {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width:70%;
    }
    &__article {
      margin: 20px;
      width: 23%;
      max-height: 350px;
      overflow-x: hidden;
      overflow-y: hidden;
      color: white;
      padding: 10px;
      font-family: "BasisGrotesquePro";
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: #2b2b30;
      border-radius: 20px;
      @media screen and (max-width: 1300px) {
        width: 50%;
       
      }

      &__img {
        width: 300px;
        height: 180px;
        border-radius: 12px;
        margin: 5px;
        @media screen and (max-width: 1600px) {
          width: 250px;
          height: 120px;
        }
        @media screen and (max-width: 1300px) {
          width: 200px;
          height: 120px;
        }
        @media screen and (max-width: 900px) {
          width: 150px;
          height: 80px;
        }
      }

      &__text {
        padding: 6px;
        letter-spacing: 0.6px;
        word-break: break-word;
        white-space: pre-wrap;
        font-size: 10px;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__tittle {
          font-family: "BasisGrotesquePro";
          font-size: 15px;
          color: white;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          @media screen and (max-width: 1600px) {
            font-size: 12px;
          }
        }
        &__date {
          font-family: "BasisGrotesquePro";
          color: white;
          opacity: 0.5;
          font-size: 13px;
          @media screen and (max-width: 1600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
