.Article {
  max-width: 700px;
  min-width: 200px;

  @media screen and (max-width:1600px) {
    max-width: 400px;
  }

  &__header {
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #f3f3f3;
    line-height: 60px;

    @media screen and (max-width: 1679px) {
      font-size: 22px;
      width: 500px;
    }
  }

  &__text {
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #f3f3f3;
    max-height: 800px;
    text-align: left;
    word-break: break-all;
  }
}
