.Article {
  max-width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  @media screen and (max-width: 1600px) {
    max-width: 400px;
  }
  @media screen and (max-width: 900px) {
    max-width: 529px;
    margin-bottom: 20px;
    overflow-x: auto;
    padding: 25px;
  }
  @media screen and (max-width: 600px) {
    max-width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @media screen and (max-width: 500px) {
    max-width: 290px;
    overflow-x: hidden;
    overflow-y: hidden;
  }


  &__header {
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #f3f3f3;

    @media screen and (max-width: 1679px) {
      font-size: 22px;
    }
    @media screen and (max-width: 900px) {
      font-size: 17px;
    }
  }

  &__text {
    width: 100%;
    justify-content: center;
    //align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: "BasisGrotesquePro";
    word-break:keep-all;
    text-align: left;
    @media screen and (max-width: 900px) {
      font-size: 9px !important;
    }

    img {
      @media screen and (max-width: 1600px) {
        width: 250px !important;
        height: 150px;
      }
    }
    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
  }
}
