.ExchangerMarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__tableBox {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__table {
      border: 0;
      background: #2d2d31;
      border-radius: 20px;
      padding: 20px;
      width: 60%;
      height: 600px;
      max-height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 50px;
      display: flex;
      align-items: center;
      @media screen and (max-width:920px) {
        width: 80%;
      }
      @media screen and (max-width:550px) {
        width: 100%;
      }
     
      &::-webkit-scrollbar {
        display: none;
      }

      &__btn {
        color:white;
        font-family: "BasisGrotesquePro";
        font-weight: 700;
        border: 1px solid white;
        background: none;
        padding: 9px;
        border-radius: 20px;

      }
      &__header {
        display: flex;
        align-self: flex-start;
      }
      &__nav {
        display: flex;
        list-style-type: none;
        width: 96%;
        justify-content: space-between;
        margin-top: 30px;
        color: white;
        font-family: "BasisGrotesquePro";
        font-weight: 700;
        @media screen and (max-width:920px) {
          font-size: 13px;
        }
        @media screen and (max-width:412px) {
          font-size: 11px;
        }
      }
      flex-direction: column;
      &__body {
        margin-top: 30px;
        width: 95%;
        border-top: 1px solid gray;

        &__content {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 10px;
          &__box {
            width: 30%;
            color: White;
            text-align: left;
            font-family: "BasisGrotesquePro";
            @media screen and (max-width:920px) {
              font-size: 13px;
            }
            @media screen and (max-width:412px) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
