$hedaerw1: 95px;
$hedaerw2: 40px;
$hedaerw3: 90px;
$hedaerw4: 53px;
$hedaerw5: 57px;
$hedaerw6: 50px;

.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  position: relative;



  &__categoriesTwice {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 97%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    @media screen and (max-width: 1600px) {
      font-size: 13px;
    }
    @media screen and (max-width: 1179px) {
      font-size: 11px;
    }
    &__categoryBox {
      width: 42%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__categories {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 92%;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding: 10px;
    


    @media screen and (max-width: 1179px) {
      width: 89%;
      padding-left: 15px;
    }

    &__exchange {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
        
        
      }
    }
    &__from {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }
    &__to {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw3;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }
    &__reserve {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw4;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }
    &__comment {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw5;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }
    &__status {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw6;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }

    &__body {
      height: 675px;
      overflow-y: auto;
      position: relative;
      padding-bottom: 25px;
      overflow-x:hidden;
      &::-webkit-scrollbar {
        height: 5px;
        /* ширина scrollbar */
      }
  
      &::-webkit-scrollbar-track {
        background: #2d2d31;
        /* цвет дорожки */
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #1b1b1b;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
      }
    }
  }
}
