.courseBorder {
  max-height: 500px;;
  border-collapse: collapse;
  width:100%;

  &__wrapper {
    width:100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    max-height:700px;
    overflow: auto;

    &::-webkit-scrollbar {
     display: none;
     width:10px;
     
    }

    &::-webkit-scrollbar-track {
      background: #2d2d31;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffffff7a;
      border:1px solid white;
      border-radius: 30px;
    }

  }
  &__headeritems {
    text-align: center;
    color:white;
    padding: 10px;
    font-family: "BasisGrotesquePro";
    text-transform: uppercase;
    font-weight: 600;
    @media screen and (max-width:1240px) {
      font-size: 12px;
    }
    @media screen and (max-width:640px) {
      font-size: 10px;
    }
    @media screen and (max-width:540px) {
      font-size: 8px;
    }
    th {
     padding-top: 3px;
     padding-bottom: 5px;
    }
  }

}

.hide {
  display: none;
  visibility: hidden;
}
