.AccountSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;

  &__settings {
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgba(128, 128, 128, 0.199);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 22px;
    border-radius: 20px;

    &__saveBtn {
      background: url("../../assets/imgs/saveSettings.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 35px;
      height: 35px;
      border: 0;
      opacity: 0.5;
    }

    &__newSetInputBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &__input {
      background: none;
      color: White;
      border: 1px solid rgba(255, 255, 255, 0.37);
      height: 30px;
      padding: 3px;
      border-radius: 10px;
      &::placeholder {
        color: white;
        font-family: "BasisGrotesquePro";
        font-size: 15px;
        font-weight: 600;
      }

      &__tip {
        font-size: 17px;
        font-weight: 500;
      }
    }

    &__item {
      width: 100%;
      justify-content: space-between;
      display: flex;
      font-size: 23px;
      font-weight: 600;
      font-family: "BasisGrotesquePro";
      letter-spacing: 1.1px;
      opacity: 0.5;
      user-select: none;
      cursor: pointer;
      padding: 10px;

      &:hover {
        opacity: 1;
        background-color: rgba(70, 70, 70, 0.356);
        border-radius: 20px;
      }

      &__img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
