$hedaerw1: 95px;
$hedaerw2: 40px;
$hedaerw3: 90px;
$hedaerw4: 53px;
$hedaerw5: 57px;
$hedaerw6: 50px;

.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  position: relative;

  &__excahangeBtn {
    border: 0;
    outline: 0;
    width: 20px;
    height: 20px;
    background: url("../../../assets/imgs/openInfo.svg");
    position: absolute;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }

  &__categories {
    &__body {
      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #46464b;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 20px;
        height: 20px;
        padding-top: 7px;
        padding-bottom: 10px;
        width:93%;
        justify-content: space-between;
        overflow: hidden;
        margin: 5px;
        @media screen and (max-width: 1179px) {
          width:88%;
        }
        &:hover {
          background: #343436;
          transition: linear 0.3s;
        }

        &__from {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw2;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }

          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }

        }

        &__to {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw3;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }

          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }
        }

        &__reserve {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw4;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }
        }

        &__excahange {
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
          text-align: center;
          width: $hedaerw1;
          position: relative;
          @media screen and (max-width: 1179px) {
            font-size: 9px;
            max-width: 80px;
          }
          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            cursor: pointer;
            padding-bottom: 10px;
            padding-left: 25px;
            overflow: hidden;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
              max-width:70px;
              overflow: hidden;
            }
          }
        }

        &__comment {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw5;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }
        }

        &__status {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw6;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            @media screen and (max-width: 1179px) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

