.Register {
    width:100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
        color:white;
        font-family: "BasisGrotesquePro";
        font-size: 30px;
        display: flex;
        flex-direction: column;
        

        &__title {
            font-weight: 600;
            letter-spacing: 1px;
            vertical-align: top;
            text-transform: uppercase;
        }
        
    }
}