@import "../../Layouts/vars";

.exchangerNavigation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #868687;
	font-family: "BasisGrotesquePro";
	font-size: 14px;
	font-weight: 400;

	&__section {
		margin-top: 0 !important;
	}

	&__itemsList {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: var(--gap);
		width: 100%;
		margin-top: 1rem;
		list-style-type: none;
		user-select: none;

		@media screen and (max-width: ($break_xs - 1)) {
			flex-direction: column;
		}

		&__item {
			display: block;
			padding: 0.5rem 1.5rem 1rem;
			color: #868687;
			text-decoration: none;
			border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;

			@media screen and (max-width: ($break_xs - 1)) {
				padding: 0 1.5rem;
				font-size: 12px;
			}
		}
	}
}

.active {
	color: white;
	background-color: #df3c3c;
}