.exchangerNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  &__itemsList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
    font-family: "BasisGrotesquePro";
    user-select: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    &__item {
      opacity: 0.5;
      color: white;
      text-decoration: none;
    }
  }
}
