

.Calculator {
  background: #46464b;
  border-radius: 10px;
  width: 100%;
  margin:5px;

  &__inputControlls {
    display:flex;
    gap:15px;

    &__btn {
      background-color: black;
      border-radius: 7px;
      border: 0;

      color:white;
      font-family: "BasisGrotesquePro";
      font-weight: 600;
      padding: 10px;
    }
  }

  &__container {
    display: flex;
    padding: 15px 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
     gap:60px;
     white-space: nowrap;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      white-space: nowrap;
      text-align: left;
      width:40%;
      color:#ffffff;
      font-weight: 600;
      font-family: "BasisGrotesquePro";
      text-transform: uppercase;
      letter-spacing: 1px;
      gap:10px;
      &__item {
        width:100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;


        &__input {
            width:50px;
            margin-left: 3px;
            margin-right: 6px;
            border:0;
            border-radius: 3px;
            background-color: #151517;
            color: white;
        }

        &__name {
          font-weight: 400;
        }
      }
    }
  }

}
