$md-radio-checked-color: rgb(183, 51, 51);
$md-radio-border-color: rgb(255, 255, 255);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;

.Calculator {
  background: #46464b;
  border-radius: 30px;
  border: 1px solid black;
  margin: 10px 20px;
  
  &__container {
    display: flex;
    padding: 25px 25px;
    
  }
  &__radiobtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__radio {
      input[type="radio"] {
        display: none;
        &:checked + label:before {
          animation: ripple 0.2s linear forwards;
        }
        &:checked + label:after {
          transform: scale(1);
        }
      }
      label {
        display: inline-block;
        min-height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        font-family: "BasisGrotesquePro";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        &:before,
        &:after {
          position: absolute;
          content: "";
          border-radius: 50%;
          transition: all 0.3s ease;
          transition-property: transform;
        }
        &:before {
          left: 0;
          top: 0;
          width: $md-radio-size;
          height: $md-radio-size;
          border: 2px solid $md-radio-border-color;
        }
        &:after {
          top: 5px;
          left: 5px;
          width: 14px;
          height: 14px;
          transform: scale(0);
          background: $md-radio-checked-color;
        }
      }
    }
  }
  &__inputControlls {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-left: 4%;

    &__fields {
    display: flex;
    background: #151517;
    border: 2px solid #5E5E65;
    border-radius: 30px;
    height:35px;
    overflow: hidden;
      }

    &__fieldInput {
      background: #151517;
      border:0;
      width:45%;
      font-family: 'BasisGrotesquePro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;  
      padding-left: 11px;
    }

    &__fieldValue {
      background: #151517;
      border:0;
      width:28%;
      font-family: 'BasisGrotesquePro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #3f3f44;
      padding-left: 10%;
      user-select: none;
      cursor: pointer;
    }

    &__field2 {
      background: #151517;
      border: 2px solid #5e5e65;
      border-radius: 30px;
      color: #ffff;
      height: 35px;
      padding-left: 15px;
      width: 90%;
    }
    &__btn {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      background: #151517;
      border-radius: 60px;
      padding: 7px 20px;
    }
  }
  &__checkboxControlls {
    display: flex;
    flex-direction: row;
    &__separation {
      width: 100%;
      height: 1px;
      background-color: #5e5e65;
    }
  }
}
