$hedaerw1: 95px;
$hedaerw2: 40px;
$hedaerw3: 90px;
$hedaerw4: 53px;
$hedaerw5: 57px;
$hedaerw6: 50px;

.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  position: relative;

  &__categories {
    &__body {
      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #46464b;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 20px;
        height: 20px;
        padding-top: 7px;
        padding-bottom: 10px;
        width:93%;
        overflow: hidden;
        margin: 5px;

        &:hover {
          background: #343436;
          transition: linear 0.3s;
        }

        &__from {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw2;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }

          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
          }
        }

        &__to {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw3;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }

          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
          }
        }

        &__reserve {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw4;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }

        &__excahange {
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
          text-align: center;
          width: $hedaerw1;
          position: relative;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            cursor: pointer;
            padding-bottom: 10px;
            padding-left: 25px;
            overflow: hidden;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
            position: absolute;
          }
        }

        &__comment {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw5;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }

        &__status {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw6;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }
      }
    }
  }
}



   
