@import "../../Layouts/vars";

.EmptyRates {
	padding: 2.5rem 1rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "BasisGrotesquePro";

	&__text {
		margin-bottom: 2em;
		color: white;
		font-size: 34px;
		font-weight: 600;

		@media screen and (max-width: ($break_sm - 1)) {
			font-size: 20px;
		}
	}

	&__img {
		max-width: 100%;
		height: auto;
	}
}