.MainPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;


  &__containerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    column-gap: 16px;
    width: 100%;

    @media screen and (max-width: 1341px) {
      column-gap: 10px;
    }

    @media screen and (max-width:900px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  &__rightMenu {
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 75%;

    @media screen and (max-width:900px) {
      align-items: center;
    }
    @media screen and (max-width:400px) {
      width:85%;
    }
  }
}