
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 25px;
  color:White;
  display: flex;
  align-items: center;
  text-align: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background:none;
  border: 1px solid #fff;
}


.checkbox-container input:checked ~ .checkmark {
  background-color: #FE0000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

