.TwiceChange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  white-space: nowrap;
  background-color: #46464b;
  margin:5px;
  border-radius: 10px;
  padding: 15px 15px;
  &__btnBox {
    display: flex;
    gap:15px;
  }
  &__btn {
    background-color: black;
    border-radius: 7px;
    border: 0;
    color: white;
    font-family: "BasisGrotesquePro";
    font-weight: 600;
    padding: 10px;
  }

  &__inputMenu {
    display: flex;
   gap:10px;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
    text-align: left;

    color: #ffffff;
    font-weight: 600;
    font-family: "BasisGrotesquePro";
    text-transform: uppercase;
    letter-spacing: 1px;

  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    &__input {
      width: 40px;
      border-radius: 3px;
      border: 0;
      background-color: black;
      color: white;
      margin: 5px;
    }

    &__text {
      font-family: "BasisGrotesquePro";
      color: white;
      font-weight: 600;
    }

    &__currentFrom {
        font-family: "BasisGrotesquePro";
        color: white;
        font-weight: 400;
        font-size: 12px;
    }
    &__currentTo {
        font-family: "BasisGrotesquePro";
        color: white;
        font-weight: 400;
        font-size: 12px;
    }
  }
}
