.infoPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__mainContainer {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width:1100px) {
			flex-direction: column;
			height: fit-content
		}

		&__changeUrl {
			display: flex;
			align-items: center;
			width: 90%;
			gap: 5px;

			&__input {
				background-color: #2d2d31;
				color: white;
				font-family: "BasisGrotesquePro";
				border: 1px solid white;
				border-radius: 9px;
				margin: 3px;
				padding-left: 5px;
				width: 180px;
				height: 20px;

				&::placeholder {
					color: white;
					font-family: "BasisGrotesquePro";
					opacity: 0.5;
				}
			}

			&__btn {
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: 100%;
				border: 0;

				&:hover {
					opacity: 0.5;
					transform: scale(1.1);
				}
			}
		}

		&__infoBox {
			background-color: #2d2d31;
			border-radius: 30px;
			padding: 20px;

			@media screen and (max-width:1100px) {
				width: 400px;
				font-size: 12px;
			}

			@media screen and (max-width:460px) {
				width: 280px;
				font-size: 12px;
			}

			&__articles {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			&__items {
				margin-top: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 90%;

				&__item {
					display: flex;
					width: 100%;
					margin: 4px;
					padding: 10px;

					&__headers {
						width: 50%;
						text-align: left;
						color: white;
						font-family: "BasisGrotesquePro";
						display: flex;
						gap: 10px;
						font-weight: 700;
						user-select: none;
					}
				}
			}

			&__header {
				font-family: "BasisGrotesquePro";
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				color: white;
				border-bottom: 1px solid #5e5e65;
				padding-bottom: 25px;
				padding-left: 10px;
				padding-top: 10px;
			}
		}

		&__moreInfo {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			&__box {
				background-color: #2d2d31;
				width: 270px;
				height: 270px;
				padding: 20px;
				border-radius: 30px;

				&__text {
					color: white;
					text-align: left;
					display: flex;
					flex-direction: column;
					gap: 30px;
					height: 45%;
					margin-top: 20px;
					font-family: "BasisGrotesquePro";
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					border-bottom: 1px solid #5e5e65;
					padding-bottom: 10px;
				}

				&__text2 {
					display: flex;
					flex-direction: column;
					gap: 10px;
					font-family: "BasisGrotesquePro";
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					color: white;
					padding-top: 10px;
					border-top: 1px solid #5e5e65;
					height: 40%;
				}

				&__rating {
					display: flex;
					flex-direction: column;
					font-family: "BasisGrotesquePro";
					color: white;
					margin-top: 10px;

					&__element {
						display: flex;
						gap: 10px;
						align-items: center;
					}
				}
			}
		}
	}
}