.Header {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  &__container {
    display: flex;
    flex-direction: row;
    &__logo {
      margin-right: 80px;
      cursor: pointer;
      @media screen and (max-width: 1479px) {
        margin-right: 40px;
      }
    }

    &__rightSide {
      display: flex;
      flex-direction: row;
      column-gap: 27%;
      align-items: center;

      @media screen and (max-width: 1479px) {
        column-gap: 10%;
      }
      @media screen and (max-width: 1366px) {
        column-gap: 14%;
      }
    }

    &__logInBtn {
      background-color: #151517;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      border: 2px solid #ffffff;
      border-radius: 30px;
      height: 45px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: "BasisGrotesquePro";
      margin-left: 12px;
      cursor: pointer;
    }

    &__lc {
      background-color: #151517;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      border: 2px solid #ffffff;
      border-radius: 30px;
      height: 45px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: "BasisGrotesquePro";
      cursor: pointer;
      white-space: nowrap;
      margin-left: 30px;
    }

    &__menu {
      display: flex;
      flex-direction: row;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      gap: 30px;

      @media screen and (max-width: 1621px) {
        gap: 60px;
      }
      @media screen and (max-width: 1479px) {
        gap: 30px;
      }
    }

    &__btn {
      color: #ffffff;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 20px;
      font-family: "BasisGrotesquePro";
    }

    &__search {
      display: flex;
      align-items: center;
      padding-left: 10%;

      &__input {
        background-color: #151517;
        border: 0;
        outline: none;
        width: 140px;
        height: 30px;
        color: #ffffff;
        font-family: "BasisGrotesquePro";
        font-size: 20px;

        &::placeholder {
          color: #ffffff;
          padding-left: 50%;
          font-weight: 400;
          font-size: 20px;
          font-family: "BasisGrotesquePro";
        }
      }

      &__searchBtn {
        background: #151517;
        background-image: url("../../assets/imgs/search.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50px;
        width: 30px;
        border: 0;
      }
    }
  }
}
