.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  &__logoBox {
    @media screen and (max-width: 900px) {
      display: flex;
      align-items: center;
      width: 140px;
      justify-content: space-between;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    &__logo {
      margin-right: 80px;
      cursor: pointer;
      @media screen and (max-width: 1479px) {
        margin-right: 40px;
      }
      @media screen and (max-width: 1179px) {
        width: 120px;
      }
    }
    &__rightSide {
      display: flex;
      flex-direction: row;
      column-gap: 27%;
      align-items: center;

      @media screen and (max-width: 1479px) {
        column-gap: 10%;
      }
      @media screen and (max-width: 1366px) {
        column-gap: 14%;
      }
    }
    &__logInBtn {
      background-color: #151517;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      border: 2px solid #ffffff;
      border-radius: 30px;
      height: 45px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: "BasisGrotesquePro";
      margin-left: 12px;
      cursor: pointer;

      @media screen and (max-width: 900px) {
        border: 0;
        text-decoration: underline;
      }
    }

    &__lc {
      background-color: #151517;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      border: 2px solid #ffffff;
      border-radius: 30px;
      height: 45px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: "BasisGrotesquePro";
      cursor: pointer;
      white-space: nowrap;
      margin-left: 30px;

      @media screen and (max-width: 1179px) {
        font-size: 14px;
        height: 35px;
      }
      @media screen and (max-width: 900px) {
        font-size: 12px;
        height: 25px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.308);
        text-align: left;
        padding-left: 10px;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 900px) {
        align-items: center;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      gap: 30px;

      @media screen and (max-width: 1621px) {
        gap: 60px;
      }

      @media screen and (max-width: 1479px) {
        gap: 30px;
      }

      @media screen and (max-width: 1179px) {
        gap: 10px;
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
    }

    &__btn {
      color: #ffffff;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 20px;
      font-family: "BasisGrotesquePro";

      @media screen and (max-width: 1179px) {
        font-size: 14px;
      }
    }

    &__search {
      display: flex;
      align-items: center;
      padding-left: 10%;

      &__input {
        background-color: #151517;
        border: 0;
        outline: none;
        width: 140px;
        height: 30px;
        color: #ffffff;
        font-family: "BasisGrotesquePro";
        font-size: 20px;

        &::placeholder {
          color: #ffffff;
          padding-left: 50%;
          font-weight: 400;
          font-size: 20px;
          font-family: "BasisGrotesquePro";
        }
      }

      &__searchBtn {
        background: #151517;
        background-image: url("../../assets/imgs/search.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50px;
        width: 30px;
        border: 0;
      }
    }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.Btn {
  background-image: url("../../assets/imgs/menu-hamburger-svgrepo-com.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  background-size: 100%;
  border: 0;
  outline: 0;
  background-color: inherit;
  &:hover {
    cursor: pointer;
  }
}
