.ClearAll {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  width: 150px;
  @media screen and (max-width: 540px) {
    width: 120px;
  }
  &__btn {
    color: white;
    background: none;
    border: 0;
    font-family: "BasisGrotesquePro";
    font-size: 15px;
    font-weight: 600;
    @media screen and (max-width: 640px) {
      font-size: 13px;
    }
    @media screen and (max-width: 540px) {
      font-size: 12px;
    }
  }
}
