.Partners {
	&__item {
		padding: 2rem 1rem 3rem;
		font-family: "BasisGrotesquePro";
		background-color: #2d2d31;
		border-radius: var(--border-radius-s);

		&__heading {
			padding: 0 1rem;
			margin-bottom: 1em;
			color: white;
			font-size: 18px;
			font-weight: 600;
			text-align: center;

		}

		&__img {
			position: relative;
			width: 100%;
			height: 150px;
			border-radius: var(--border-radius-s);
			overflow: hidden;
		}

	}
}