.TwiceExchange {
  &__row {
    background-color: #46464b;
    td {
      text-align: center;
      border-bottom: 2px solid #2d2d31;
      color:white;
      font-family: "BasisGrotesquePro";
      font-weight: 600;
      padding: 10px;
    }
  }

}