.itemPage {
  height:100%;
  &__reviews {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    height: 100%;

    &__close {
      color: #f3f3f3;
      background: none;
      border:none
    }

    &__header {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      text-transform: uppercase;
      color: #f3f3f3;
      user-select: none;
    }
  }
  &__container {
    margin-top: 10px;
    margin-left: 13%;
    display: flex;
    flex-direction: column;

    &__Addreview {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #f3f3f3;
      padding-top: 30px;
      background-color: #2d2d31;
      outline: none;
      border: 0;
    }
    &__header {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      color: #f3f3f3;
    }
    &__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;

      &__item3 {
        background: #2d2d31;
        border-radius: 20px;
        width: 26%;
        height: 660px;
        display: flex;
        flex-direction: column;
        position: relative;
        &__rating {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          color: #f3f3f3;
        }
        &__text {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          width: 400px;
          max-height: 600px;
          overflow-y: auto;
          color: #f3f3f3;
          white-space: pre-wrap;
          word-break: break-all;
        }
        &__review {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 900;
          font-size: 25px;
          text-transform: uppercase;
          color: #f3f3f3;
          width: 75%;
        }
      }
      &__item {
        background: #2d2d31;
        border-radius: 20px;
        width: 26%;
        height: 660px;
        position: relative;
        &__btn {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          border: 2px solid white;
          background: #2d2d31;
          padding: 10px 20px;
          border-radius: 20px;
          color: white;
          position: absolute;
          bottom: 30px;
          left: 30px;
        }
      }
      &__item2 {
        background: #2d2d31;
        border-radius: 20px;
        width: 26%;
        height: 660px;
        display: flex;
        justify-content: center;
        position: relative;
        &__container {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          &__status {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 10px;
            width: 95%;
            border-bottom: 1px solid #5e5e65;
            padding-bottom: 25px;
            &__header {
              font-family: "BasisGrotesquePro";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              color: #f3f3f3;
            }
            &__header2 {
              font-family: "BasisGrotesquePro";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              color: #77d22d;
              border: 2px solid #77d22d;
              padding: 10px 20px;
              border-radius: 20px;
              position: absolute;
              left: 70%;
            }
            &__headerInfo {
              font-family: "BasisGrotesquePro";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              color: #f3f3f3;
              position: absolute;
              left: 70%;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
