.Footer {
  margin-top: 50px;
  height: max-content;
  border-top: 1px solid #5e5e65;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  bottom:0;
  background-color: #151517;
  //position: sticky;
  z-index: 999;
  &__container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    padding-top: 20px;
@media screen and (max-width:416px) {
  width: 100%;
}
@media screen and (max-width: 416px) {
  padding: 10px;
}

  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 30px;
    @media screen and (max-width: 1600px) {
     flex-direction: column;
         }

    &__btn {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      line-height: 21px;
      text-align: center;
      color: #f3f3f3;
      background: #151517;
      border: 2px solid #f3f3f3;
      font-weight: 700;
      font-size: 18px;
      padding: 11px 25px;
      border-radius: 20px;
      position: sticky;
      bottom:0;
      float: right;
      margin: 15px;;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }
    }

    &__icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      &__icon {
        width: 30px;
        height: 30px;
        @media screen and (max-width: 900px) {
          width: 17px;
          height: 17px;
        }
      }
      @media screen and (max-width: 900px) {
       gap:5px
      }
    }

    &__info {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #f3f3f3;
      opacity: 0.5;
      @media screen and (max-width: 1600px) {
        font-size: 13px;
      }

      &__infoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__link {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #f3f3f3;
          opacity: 0.5;
          text-decoration: underline;
          @media screen and (max-width: 1600px) {
            font-size: 13px;
          }
        }
        &__link2 {
          font-family: "BasisGrotesquePro";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #f3f3f3;
          opacity: 0.5;
          @media screen and (max-width: 1600px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
