.inputsReg {
    margin-bottom: 20px;
  &__header {
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #f3f3f3;
        
    @media screen and (max-width:1700px) {
      font-size: 13px;
    }
  }

  &__fields {
    width: 250px;
    height: 35px;
    background: #151517;
    border: 2px solid #5e5e65;
    border-radius: 30px;
    font-family: "BasisGrotesquePro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #f3f3f3;
    opacity: 0.5;
    padding-left: 10px;

        
    @media screen and (max-width:1700px) {
      font-size: 15px;
      width:200px;
    }
  }
}
