@keyframes ldio-wc5uw80iaq {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .spin {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ldio-wc5uw80iaq div {
    left: 114.94500000000001px;
    top: 50.955000000000005px;
    position: absolute;
    animation: ldio-wc5uw80iaq linear 0.7042253521126761s infinite;
    background: #ffffff;
    width: 7.11px;
    height: 26.07px;
    border-radius: 3.555px / 4.431900000000001px;
    transform-origin: 3.555px 67.545px;
  }.ldio-wc5uw80iaq div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.6781429316640585s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(2) {
    transform: rotate(13.333333333333334deg);
    animation-delay: -0.6520605112154408s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(3) {
    transform: rotate(26.666666666666668deg);
    animation-delay: -0.6259780907668232s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(4) {
    transform: rotate(40deg);
    animation-delay: -0.5998956703182056s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(5) {
    transform: rotate(53.333333333333336deg);
    animation-delay: -0.5738132498695879s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(6) {
    transform: rotate(66.66666666666667deg);
    animation-delay: -0.5477308294209703s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(7) {
    transform: rotate(80deg);
    animation-delay: -0.5216484089723527s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(8) {
    transform: rotate(93.33333333333333deg);
    animation-delay: -0.49556598852373507s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(9) {
    transform: rotate(106.66666666666667deg);
    animation-delay: -0.46948356807511743s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(10) {
    transform: rotate(120deg);
    animation-delay: -0.4434011476264998s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(11) {
    transform: rotate(133.33333333333334deg);
    animation-delay: -0.41731872717788215s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(12) {
    transform: rotate(146.66666666666666deg);
    animation-delay: -0.3912363067292645s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(13) {
    transform: rotate(160deg);
    animation-delay: -0.3651538862806469s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(14) {
    transform: rotate(173.33333333333334deg);
    animation-delay: -0.33907146583202924s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(15) {
    transform: rotate(186.66666666666666deg);
    animation-delay: -0.3129890453834116s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(16) {
    transform: rotate(200deg);
    animation-delay: -0.28690662493479396s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(17) {
    transform: rotate(213.33333333333334deg);
    animation-delay: -0.2608242044861763s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(18) {
    transform: rotate(226.66666666666666deg);
    animation-delay: -0.23474178403755872s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(19) {
    transform: rotate(240deg);
    animation-delay: -0.20865936358894108s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(20) {
    transform: rotate(253.33333333333334deg);
    animation-delay: -0.18257694314032344s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(21) {
    transform: rotate(266.6666666666667deg);
    animation-delay: -0.1564945226917058s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(22) {
    transform: rotate(280deg);
    animation-delay: -0.13041210224308816s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(23) {
    transform: rotate(293.3333333333333deg);
    animation-delay: -0.10432968179447054s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(24) {
    transform: rotate(306.6666666666667deg);
    animation-delay: -0.0782472613458529s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(25) {
    transform: rotate(320deg);
    animation-delay: -0.05216484089723527s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(26) {
    transform: rotate(333.3333333333333deg);
    animation-delay: -0.026082420448617635s;
    background: #ffffff;
  }.ldio-wc5uw80iaq div:nth-child(27) {
    transform: rotate(346.6666666666667deg);
    animation-delay: 0s;
    background: #ffffff;
  }
  .loadingio-spinner-spinner-kysvlsrjgzg {
    width: 237px;
    height: 237px;
    display: inline-block;
    overflow: hidden;
    background: #2d2d31;
  }
  .ldio-wc5uw80iaq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-wc5uw80iaq div { box-sizing: content-box; }
  /* generated by https://loading.io/ */