.adds {
  width:780px;
    gap:20px;
    height:250px;
    display:flex;
    flex-direction: row;
    align-items: center;
  
    &__box {
     background-color: #46464b;
     border-radius: 20px;
    }
    
}