.Review {
	padding: calc(var(--gap) * 2);
	font-family: "BasisGrotesquePro";
	background-color: #2d2d31;
	border-radius: var(--border-radius);
	box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.3);

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
	}

	@import 'Comments.review.scss';

	&__childs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		width: 100%;
		position: absolute;
		top: calc(100% - var(--gap)*3);
		z-index: 1;

		&__AddComments {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@import '../Comments/Comments.item.scss';

			&__SetReview {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__rate {
					margin-bottom: var(--gap);
					color: #9b9a9a;
					font-size: 12px;
				}

				&__input {
					width: 100%;
					padding: 12px;
					color: white;
					font-family: "BasisGrotesquePro";
					font-size: 14px;
					border-radius: var(--border-radius);
					background-color: #46464b;
					border: 1px solid #46464b;

					&::placeholder {
						color: white;
						font-family: "BasisGrotesquePro";
						opacity: 0.5;
					}
				}

				&__footer {
					display: flex;
					margin-top: calc(var(--gap) * 2);
					align-items: center;
					justify-content: flex-end;
				}

				&__cancel {
					margin-right: var(--gap);
					color: #9b9a9a;
					font-size: 12px;

					&:hover {
						cursor: pointer;
						color: white;
					}
				}

				&__btn {
					padding: 8px 36px;
					color: #fff;
					font-family: "BasisGrotesquePro";
					font-size: 12px;
					background-color: #df3c3c;
					border: 0;
					border-radius: 20px;

					&:hover {
						cursor: pointer;
						background-color: #ff1b1b;
					}
				}
			}
		}
	}
}

.my_opinion {
	color: #df3c3c;
}

.star {
	font-size: 16px;

	&__button {
		background: none;
		border: none;
	}

	&__on {
		color: #df3c3c;
		background: none;
		border: none;
	}

	&__off {
		color: #ccc;
		background: none;
		border: none;
	}
}