.Review {
  background: #2d2d31;
  border-radius: 20px;
  margin:15px;
  max-width: 50%;

  &__textBox {
    padding-left: 25px;
    padding-right: 25px;
    &__user {
        gap:50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #f3f3f3;
    }

    &__createdAt {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      text-align: right;
      color: #f3f3f3;
      opacity: 0.5;
    }
  }
}
