.Favorite {
  min-height: 83%;
  display: flex;
  margin: 5px;
  @media screen and (max-width:900px) {
    font-size: 12px;
  }
  @media screen and (max-width:680px) {
    font-size: 10px;
  }
  justify-content: center;
  &__container {
    width: 60%;
    display: flex;
    justify-content: center;
    min-width: 400px;

    @media screen and (max-width:680px) {
      min-width: 300px;
    }
  }
  &__table {
    margin-top: 30px;
    background-color: rgba(73, 73, 73, 0.082);
    border-radius: 12px;
    width: 100%;
    min-height: 30%;
    max-height: 80%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.438);

    &__head {
       margin: 10px;
       position: sticky;

    }

    &__headerRow {
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
      th {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 10px;

        @media screen and (max-width:1000px) {
          font-size: 14px;
        }
      }
    }
    &__body {
      margin: 10px;
      &__row {
        
        td {
          color: white;
          text-align: center;
          font-family: "BasisGrotesquePro";
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.8px;
          opacity: 0.5;
          user-select: none;

          p {
            padding: 10px;
            word-break: break-all;
            @media screen and (max-width:680px) {
              padding: 5px;
              font-size: 11px;
            }
            @media screen and (max-width:450px) {
              font-size: 8px;
            }
          }
          &:hover {
            opacity: 1;
            transition: 0.4s linear;
          }
          a {
            color: white;
          }
        }
      }
    }
  }
}
