.Favorite {
	min-height: 83%;
	display: flex;
	margin: 5px;

	&__item {
		padding: 2rem 1.25rem;
		position: relative;
		font-family: "BasisGrotesquePro";
		background-color: #151517;
		border-radius: var(--border-radius-s);
		box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.3);

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__footer {
			margin-top: 1em;
			color: #9b9a9a;
			font-size: 12px;

			a {
				color: #9b9a9a;
			}
		}

		&__title {
			color: white;
			font-size: 18px;
			font-weight: 600;
		}

		&__cover {
			display: block;
			position: relative;
			min-height: 120px;
		}
	}
}