$hedaerw1: 95px;
$hedaerw2: 40px;
$hedaerw3: 90px;
$hedaerw4: 53px;
$hedaerw5: 57px;
$hedaerw6: 50px;

.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width:100%;

  &__inActive {
    visibility: hidden;
    position: absolute;
  }

  &__open {
    visibility: visible;
    position: relative;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    gap: 63px;
    margin: 10px;
    margin-top: 10px;
    &__exchange {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw1;
    }
    &__from {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw2;
    }
    &__to {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw3;
    }
    &__reserve {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw4;
    }
    &__comment {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw5;
    }
    &__status {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      width: $hedaerw6;
    }

    &__body::-webkit-scrollbar {
      display: none;
    }

    &__body {
      padding: 10px;
      height: 660px;
      overflow-y: auto;
      position: relative;

      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #46464b;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 20px;
        height: 20px;
        padding-top: 7px;
        padding-bottom: 10px;
        gap: 60px;
        overflow: hidden;
        margin: 5px;

        &:hover {
          background: #343436;
          transition: linear 0.3s;
        }
        &__from {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw2;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
          }
        }
        &__to {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw3;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
          &__header2 {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 17px;
            color: #f3f3f3;
            opacity: 0.5;
            text-align: center;
            margin: 0;
          }
          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
          }
        }
        &__reserve {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: $hedaerw4;
          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }
        &__excahange {
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
          text-align: center;
          width: $hedaerw1;
          position: relative;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
            cursor: pointer;
            padding-bottom: 10px;
            padding-left: 25px;
            overflow: hidden;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url("../../assets/imgs/openInfo.svg");
            background-repeat: no-repeat;
            position: absolute;
          }
        }
        &__comment {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw5;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }

        &__status {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          text-align: center;
          width: $hedaerw6;

          &__header {
            font-family: "BasisGrotesquePro";
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            height: 10px;
            color: #f3f3f3;
            text-align: center;
          }
        }
      }
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;


    &::-webkit-scrollbar {
      height: 10px;
      /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #2d2d31;
      /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1b1b1b;
      /* цвет плашки */
      border-radius: 20px;
      /* закругления плашки */
    }

    &__items {
      display: flex;
      flex-direction: row;
      gap: 13px;
      list-style-type: none;
    }

    &__item {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      border: 2px solid transparent;
      padding: 10px;
    }
  }
}

.active {
  border-radius: 30px;
  border: 2px solid #fe0000;
}
