.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width:1679px){
    width:77%;
  }

  &__inActive {
    visibility: hidden;
    position: absolute;
  }

  &__open {
    visibility: visible;
    position: relative;
  }

  &__categories {
    display: flex;
    flex-direction: row;
    gap: 80px;
    border-top: 1px solid #5e5e65;
    margin-top: 20px;
    @media screen and (max-width:1679px){
      gap: 60px;
    }

    &__header {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
    }

    &__body {
      margin-top: 20px;
      height: 300px;

      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #46464B;
        padding-left: 10px;
        padding-right: 10px;
        gap: 70px;
        @media screen and (max-width:1679px){
          gap: 56px;
        }

        &__column {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;

          &__header {
            font-family: 'BasisGrotesquePro';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            color: #F3F3F3;

          }

          &__header2 {
            font-family: 'BasisGrotesquePro';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            color: #F3F3F3;
            opacity: 0.5;
          }

          &__btn {
            background-color: #2d2d31;
            border: 0;
            outline: 0;
            width: 20px;
            height: 20px;
            background: url('../../assets/imgs/openInfo.svg');
            background-repeat: no-repeat;
          }
        }
      }

    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    max-width: 93%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 10px;
      /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #2d2d31;
      /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1b1b1b;
      /* цвет плашки */
      border-radius: 20px;
      /* закругления плашки */
    }

    &__items {
      display: flex;
      flex-direction: row;
      gap: 30px;
      list-style-type: none;
    }

    &__item {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;
      user-select: none;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: nowrap;
    }
  }
}

.active {
  border-radius: 30px;
  border: 2px solid #fe0000;
  transition: 0.2s;
}