.Fillters {
  background: #2d2d31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  position: relative;
  @media screen and (max-width: 600px) {
    min-width: 350px;
    background: #2d2d3183;
    border:1px solid rgba(255, 255, 255, 0.473);
  }
  &__inActive {
    visibility: hidden;
    position: absolute;
  }

  &__open {
    visibility: visible;
    position: relative;
    width: 100%;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;

    &__items {
      display: flex;
      flex-direction: row;
      width: 100%;
      list-style-type: none;
      justify-content: space-between;
      padding-bottom: 10px;


      @media screen and (max-width: 1179px) {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 12px;
      }
      &::-webkit-scrollbar {
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #2d2d31;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ffffff7a;
        border: 1px solid white;
        border-radius: 30px;
      }
    }

    &__item {
      font-family: "BasisGrotesquePro";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      border: 2px solid transparent;
      padding: 10px;
      background-color: #ffffff07;
      border-radius: 30px;
      opacity: 0.5;
      @media screen and (max-width: 1800px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1179px) {
        font-size: 11px;
      }
    }
  }
}

.active {
  border-radius: 30px;
  border: 2px solid #fe0000;
  background-color: #fe000027;
  opacity: 1;
}

.show {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: linear 0.4s;
}

.hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: linear 0.4s;
}
