:root {
	/*
	--color_primary: var(--blue-dark-900);
	--color_secondary: var(--brown-800);
	--color_alter: var(--blue-100);
	--color_action: var(--blue-100);
	--color_action_hover: var(--sea-100);
	--color_tagline: var(--violet-800);

	--color_heading: var(--brown-800);

	--color_separator: var(--grey-300);
	--color_paragraph: var(--grey-900);

	--color_label: var(--grey-400);
	--color_link: var(--blue-100);
	--color_link_hover: var(--sea-100);
	--color_border: var(--grey-500);

	--color_background_primary: var(--orange-100);
	--color_background_footer: var(--blue-dark-900);
	--color_background_secondary: var(--grey-100);
	*/

	--required: var(--red-600);

	--font_primary: 'BasisGrotesquePro', 'Roboto', sans-serif;
	/* --font_heading: 'Arkhip'; */

	--size_primary: 1rem;
	--size_primary_small: 0.875rem;
	--size_primary_big: 1.25rem;
	--size_secondary: 1.125rem;

	--weight_normal: 400;
	--weight_bold: 600;

	--border-radius: 8px;
	/*
	--border_radius_2: 0.5rem;

	--form_size: 2rem;
	--form_text: $_14px;

	--button_text: var(--grey-900);
	--button_border: var(--grey-900);
	--button_background: transparent;
	--button_focus_text: white;
	--button_focus_border: var(--grey-900);
	--button_focus_background: var(--grey-900);

	--shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	--shadow_sm: 0px 25px 20px -10px rgba(0, 0, 0, 0.1);

	--padding-w: 80px;
	*/
}